<div class="card-container">
  <button tooltip="tooltip text" [adaptivePosition]="true" class="card">
    Something 1
  </button>
  <button tooltip="some tooltip text" [adaptivePosition]="true" class="card">
    Something 2
  </button>
  <button tooltip="some longer tooltip text" [adaptivePosition]="true" class="card">
    Something 3
  </button>
  <button tooltip="text" [adaptivePosition]="true" class="card">
    Something 4
  </button>
  <button tooltip="some more text" [adaptivePosition]="true" class="card">
    Something 5
  </button>
  <button tooltip="more more more tooltip text" [adaptivePosition]="true" class="card">
    Something 6
  </button>
</div>